<html>
<head>
    <link href= "/assets/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <h1>Phone Number: <%= pn %></h1>
    <h1>Longitude: <%= Long %></h1>
    <h1>Latitude: <%= Lat %></h1>
    <h1>Range: <%= Range %></h1>
    <h1>Message: <%= Msg %></h1>

</body>

</html>